@use 'variables' as *;


body {
    background-color: $body-color;
}

nav {
    background-color: $main-background;
}

.mainContainer {
    background-color: $main-background;
}

.mainWidget {
    background-color: $widget-background;
}