@use 'variables' as *;

// @mixin nav-theme($font-theme, $text-size) {
//     font-family: $font-theme;
//     font-size: $text-size;
//     padding: 10px 0 10px 10px;
//     width: 100%;
//     margin: 8px;
//     padding-left: 20px;
// }

// @keyframes changeColor {
//     from {background-color: $main-background}
//     to {background-color: #EFE6E3}
// }

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 60%;
        margin: 50px 0 34px 0;
    }
}

nav {
    height: 100%;
    min-height: 800px;
    width: 250px;
    max-width: 350px;
    margin-left: 35px;
    color: $myfont-color;
    font-family: $font-theme;
    font-weight: bold;
}

.navList {
    ul {
        list-style-type: none;
    }
    
    li {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 14px;
        margin: 18px 0;
        span {
            margin-left: 12px;
        }
        .fa-circle-chevron-down {
           display: none;   
        }

        span:hover {
            cursor: pointer;
        }
    }

    li:hover {
        background-color: $highlight-color;
        transition: .3s;
        .fa-circle-chevron-down {
            display: block;
            cursor: pointer;
        }
    }

    :nth-child(9) {
        position: absolute;
        top: 810px;
        display: flex;
        align-items: center;
        i {
            font-size: .8em;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background-color: $myfont-color;
            color: $main-background;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        :hover {
            cursor: pointer;
        }
    }

}

.subMenu {
    
    li {
    background-color: $main-background;
    margin-left: 40px;
    display: list-item;
    list-style: square inside; 

        span {
            font-size: .5em;
            color: $myfont-color;
            position: relative;
            top: -5px;
            left: -25px; 
        }

    }

    li:nth-of-type(1) {
    font-size: 2em;
    color: $bullet-color-one; 
    }

    li:nth-of-type(2) {
        font-size: 2em;
        color: $bullet-color-two; 
        }

    li:nth-of-type(3) {
        font-size: 2em;
        color: $bullet-color-three; 
        }    
        
    li:hover {
    cursor: pointer;
    background-color: $highlight-color;
    }       
}

.unhighlight li:hover {
    background-color: $myfont-color;
    transition: 0ms;
}

.subList {
    display: none;
}

.backGround {
    display: block;
}