@use 'variables' as *;

// @mixin nav-theme($font-theme, $text-size) {
//     font-family: $font-theme;
//     font-size: $text-size;
//     padding: 10px 0 10px 10px;
//     width: 100%;
//     margin: 8px;
//     padding-left: 20px;
// }

// @keyframes changeColor {
//     from {background-color: $main-background}
//     to {background-color: #EFE6E3}
// }

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 60%;
        margin: 50px 0 34px 0;
    }
}

nav {
    height: 100%;
    width: 250px;
    max-width: 350px;
    margin-left: 35px;
    color: $myfont-color;
    font-family: $font-theme;
}

.navList {
    list-style-type: none;
    // span:hover {
    //     cursor: pointer;
    // }

    li:hover {
        background-color: #EFE6E3;
        transition: .3s;

        .fa-circle-chevron-down {
            display: block;
            cursor: pointer;
        }
    }
    li {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 14px;
        margin: 18px 0;
        span {
            margin-left: 12px;
        }
        .fa-circle-chevron-down {
           display: none;   
        }
    }

    :nth-child(5) {
        position: absolute;
        bottom: 8%;
        display: flex;
        align-items: center;
        i {
            font-size: .8em;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background-color: $myfont-color;
            color: $main-background;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}

#resourceDrop {
    li{
    background-color: $main-background;
    margin-left: 40px;
    display: list-item;
    list-style: square; 
    }

    li::before {
    font-size: 2em;
    color: #8a7f3f; 
    }

    li:hover {
    cursor: pointer;
    }       
}


.subList {
    display: none;
}
