.mainContainer {
    width: 90%;
    height: 804px;
    min-height: 800px;

    margin: 80px auto;
    display: flex;
    align-items: center;
}

body {
    // height: 100vh;
    display: flex;
    // align-items: center;
}
