$main-background: #FBF7F4;
$body-color: #CCC1BE;
$font-theme: 'Roboto', sans-serif;
$text-size: 1em;
$myfont-color: #1C1C1E;
$widget-background: #ffffff;

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Roboto:wght@500&display=swap');
}