//How can I make this more efficient and organized?
@use 'variables' as *;

@mixin display-flex {
    display: flex;
}

@mixin widget-box($image, $width, $height) {
    background-image: $image;
    background-size: cover;
    @include display-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0 2rem;
    height: $height;
    width: $width;
    color: white;

    h4 {
        font-size: 2em;
    }

    span {
        display: flex;
        align-items: center;
    }

    i {
        font-size: 1.5em;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: transparent;
        color: $main-background;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.mainWidget {
    font-family: $font-theme;
    height: 95%;
}

.wrapper {
    row-gap: 1rem;
    padding: 3rem;
    @include display-flex;
    flex-direction: column;   
    height: 100%;
}

.todaySection {
    @include display-flex;
    justify-content: space-between;
}

.add {
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}

.H1 {
    font-weight: 400;
    padding-bottom: 8px;
}

.DateText {
    font-weight: 100;
    font-size: 14px;
    color: #6b7280;
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: beige;
    border-radius: 50%;
    @include display-flex;
    justify-content: center;
    align-items: center;
}

.subSection2 {
    @include display-flex;
    justify-content: space-between;
}

.teamSection {
    border-left: 2px solid lightgray;
    padding-left: 1rem;
}

.widget-wrapper {
    height: 100%;
}

.widget-1 {
    @include widget-box(url("/images/black_unis.0.jpeg"), 95, 35%);
}

.widget-2 {
    @include widget-box(url("/images/background-widget-1.jpg"), 50%, 50%);
}

.widget-3 {
    @include widget-box(url("/images/background-widget-2.jpg"), 50%, 50%);
}

h4 {
    padding-bottom: 1rem;
}

.widget-2-wrapper {
    @include display-flex;
    column-gap: 1rem;
    padding-top: 1rem;
    align-items: stretch;
    height: 100%;
}

.h-8 {
    width: 1rem;
}

.text1 {
    padding-bottom: 1rem;
}