@use 'variables' as *;

.mainWidget {
    font-family: $font-theme;
    height: 95%;
}

.wrapper {
    row-gap: 1rem;;
    padding: 3rem;
    display: flex;
    flex-direction: column;   
}

.todaySection {
    display: flex;
    justify-content: space-between;
}

.add {
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}

.H1 {
    font-weight: 400;
    padding-bottom: 8px;
}

.DateText {
    font-weight: 100;
    font-size: 14px;
    color: #6b7280;
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: beige;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subSection2 {
    display: flex;
    justify-content: space-between;
}

.teamSection {
    border-left: 1px solid gray;
    padding-left: 1rem;
}

.widget-1 {
    background-image: url("/images/background-widget-1.jpg");
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0 2rem;
}

.widget-2 {
    background-image: url("/images/background-widget-1.jpg");
    height: 300px;
}