@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Roboto:wght@500&display=swap");
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 60%;
  margin: 50px 0 34px 0;
}

nav {
  height: 100%;
  min-height: 800px;
  width: 250px;
  max-width: 350px;
  margin-left: 35px;
  color: #1C1C1E;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.navList ul {
  list-style-type: none;
}
.navList li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 14px;
  margin: 18px 0;
}
.navList li span {
  margin-left: 12px;
}
.navList li .fa-circle-chevron-down {
  display: none;
}
.navList li span:hover {
  cursor: pointer;
}
.navList li:hover {
  background-color: #EFE6E3;
  transition: 0.3s;
}
.navList li:hover .fa-circle-chevron-down {
  display: block;
  cursor: pointer;
}
.navList :nth-child(9) {
  position: absolute;
  top: 785px;
  display: flex;
  align-items: center;
}
.navList :nth-child(9) i {
  font-size: 0.8em;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #1C1C1E;
  color: #FBF7F4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navList :nth-child(9) :hover {
  cursor: pointer;
}

.subMenu li {
  background-color: #FBF7F4;
  margin-left: 40px;
  display: list-item;
  list-style: square inside;
}
.subMenu li span {
  font-size: 0.5em;
  color: #1C1C1E;
  position: relative;
  top: -5px;
  left: -25px;
}
.subMenu li:nth-of-type(1) {
  font-size: 2em;
  color: #EAC2C6;
}
.subMenu li:nth-of-type(2) {
  font-size: 2em;
  color: #FABC8C;
}
.subMenu li:nth-of-type(3) {
  font-size: 2em;
  color: #49608A;
}
.subMenu li:hover {
  cursor: pointer;
  background-color: #EFE6E3;
}

.unhighlight li:hover {
  background-color: #1C1C1E;
  transition: 0ms;
}

.subList {
  display: none;
}

.backGround {
  display: block;
}

.mainContainer {
  width: 90%;
  height: 804px;
  min-height: 800px;
  margin: 80px auto;
  display: flex;
  align-items: center;
}

body {
  display: flex;
}

body {
  background-color: #CCC1BE;
}

nav {
  background-color: #FBF7F4;
}

.mainContainer {
  background-color: #FBF7F4;
}

.mainWidget {
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

.dashboard {
  background-color: #EFE6E3;
}

.mainWidget {
  font-family: "Roboto", sans-serif;
  height: 95%;
}

.wrapper {
  row-gap: 1rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.todaySection {
  display: flex;
  justify-content: space-between;
}

.add {
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

.H1 {
  font-weight: 400;
  padding-bottom: 8px;
}

.DateText {
  font-weight: 100;
  font-size: 14px;
  color: #6b7280;
}

.avatar {
  width: 50px;
  height: 50px;
  background-color: beige;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subSection2 {
  display: flex;
  justify-content: space-between;
}

.teamSection {
  border-left: 2px solid lightgray;
  padding-left: 1rem;
}

.widget-wrapper {
  height: 100%;
}

.widget-1 {
  background-image: url("/images/black_unis.0.jpeg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 0 2rem;
  height: 35%;
  width: 95;
  color: white;
}

.widget-2 {
  background-image: url("/images/background-widget-1.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 0 2rem;
  height: 35%;
  width: 50%;
  color: white;
}

.widget-3 {
  background-image: url("/images/background-widget-2.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 0 2rem;
  height: 35%;
  width: 50%;
  color: white;
}

h4 {
  padding-bottom: 1rem;
}

.widget-2-wrapper {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding-top: 1rem;
  align-items: stretch;
  height: 100%;
}

.h-8 {
  width: 1rem;
}

.text1 {
  padding-bottom: 1rem;
}/*# sourceMappingURL=style.css.map */